@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Specialist, TOC-OSG<br />
    <abbr title="Mobile">M:</abbr>
    0918 337 1039
    <abbr title="Phone">P:</abbr>
    (032) 2318573 loc 6673
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:RSRatilla@smart.com.ph">RSRatilla@smart.com.ph</a><br />
    <strong>TOC-OSG:</strong> <a href="mailto:Allsmarttocvisosg@esmart.com.ph">Allsmarttocvisosg@smart.com.ph</a>
</address>