@model IEnumerable<Sayts.Models.DataClasses.FileNames>

@{
    ViewBag.Title = "Index";
}

<h2>Network Topologies</h2>

@using (Html.BeginForm("Upload", "Topologies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload a Network Topology (must be in vsd format):</label>
    <input type="file" class="form-control" name="file" id="file"/><p></p>
    <input type="submit" class="btn btn-default" name="Submit" id="submit" value="Upload File"/>

    @ViewBag.Message
}

<p></p>

<table>
    <tr>
        <th>
            FileName
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Download", "Download", new { filename = item.FileName })
            </td>
        </tr>
    }
</table>