@model IEnumerable<Sayts.Models.Rectifier>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model, canSort: false, rowsPerPage: 20);
        @grid.GetHtml(htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
            grid.Column(columnName: "Sites.SiteFullName", header: "Site"),
            grid.Column(columnName: "Units.BrandModel", header: "Unit"),
            grid.Column(columnName: "Serial", header: "Serial"),
            grid.Column(columnName: "UnitStatus.Status", header: "Status"),
            grid.Column(columnName: "DateDelivered", header: "DateDelivered"),
            grid.Column(columnName: "DateInstalled", header: "DateInstalled"),
            grid.Column(columnName: "DCPPType", header: "DCPPType"),
            grid.Column(columnName: "RMActive", header: "ActiveRMs"),
            grid.Column(columnName: "RMDefective", header: "DefectiveRMs"),
            grid.Column(columnName: "Voltage", header: "Voltage"),
            grid.Column(columnName: "BatteryCurr", header: "BatteryCurrent"),
            grid.Column(columnName: "RectifierCurr", header: "RectifierCurr"),
            grid.Column(columnName: "DCLoading", header: "DCLoading"),
            grid.Column(columnName: "TimeBackUp", header: "BackUpTime"),
            grid.Column(columnName: "Remarks", header: "Remarks"),
            grid.Column(columnName: "UpdateDate", header: "UpdateDate")
        ));
    }
</div>

<p>
    &nbsp;
</p>
<p>

    @Html.ActionLink("Back to List", "RectifierIndex")
